*{
    font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0px;
}
.bg{
    background-color: azure;
}
.text{
    display: block;
    width: 13vw;
    margin: 2.5vw auto 1vw;
    font-size: 3vw;
    border: 1px solid #c9c8c8;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    background-image:linear-gradient(to right,#c1d6fd,#a7bfe8)
}
.main{
    border:2px solid #c9c8c8;
    border-radius: 0.5vw;
    height:25.5vw;
    padding: 0.5vw;
    width: 30vw;
    margin: 2vw auto;
    background-color: black;
}
.container{
    display: grid;
    grid-template-areas: 
    "display display display display"
    "a7 a8 a9 adiv"
    "a4 a5 a6 amul"
    "a1 a2 a3 aminus"
    "a0 clear aequal aplus";
    
    
    width: 30vw;
    height: 23vw;
    gap: 1vw;
}
#a1{grid-area: a1;}

#a2{grid-area: a2; }

#a3{grid-area: a3;}

#a4{grid-area: a4;}

#a5{grid-area: a5;}

#a6{grid-area: a6;}

#a7{grid-area: a7;}

#a8{grid-area: a8;}

#a9{grid-area: a9;}

#a0{grid-area: a0;}

#amul{grid-area: amul;}

#adiv{grid-area: adiv;}

#aminus{grid-area: aminus;}

#plus{grid-area: aplus;}

#clear{grid-area: clear;
    background-color: #FF8F1F;}

#aequal{grid-area: aequal;
background-color: #FF8F1F;}

.display{grid-area: display;
text-align: right;
border: 2px solid black;
border-radius: 0.5vw;
width: 29vw;
line-height: 4vw;
padding: 0.5vw;
background-color: white;
font-size: 1.4vw;}

.button{
    border: 2px solid rgb(148, 143, 143);
    border-radius: 0.5vw;
    width: 6.25vw;
    text-align: center;
   line-height: 3.5vw;
   font-size: 1.3vw;
   background-color: #217C7E;
   color: white;
  
    transition: all 0.15s ease-out;
}
.button:hover,#aequal:hover,#clear:hover{
    background-color: gray;
    color: white;
    transform: scale(1.01);
}

.operator{
    background-color: dodgerblue;
}

@media screen and (max-width: 800px) {
    .text{
        
        width: 26vw;
        margin: 5vw auto 2vw;
        font-size: 6vw;
       
        border-radius: 1vw;
        padding: 1vw 2vw;
        
    }
    .main{
        
        border-radius: 1vw;
        height:51vw;
        padding: 1vw;
        width: 60vw;
        margin: 4vw auto;
        
    }
    .container{
       
        width: 60vw;
        height: 46vw;
        gap: 2vw;
    }
    
    .display{
    border-radius: 1vw;
    width: 58vw;
    line-height: 8vw;
    padding: 1vw;
    
    font-size: 2.8vw;}
    
    .button{
        border-radius: 1vw;
        width: 12.5vw;
        
       line-height: 7vw;
       font-size: 2.6vw;
       
    }
}